.wrapper-select {
  position: absolute;
  z-index: 4;
}

.select-elem {
  margin-top: 3rem;
  display: inline-block;
  background-color: pink;
  padding: .25rem .5rem;
  position: relative;
  height: 3rem;
  display: flex;

  align-items: center;
  width: 250px;

}

.select-value{

  border: 2px solid red;
  padding: .25rem .5rem;
}

.select-btn-up {
  position: absolute;
  top: .4rem;
  right:.6rem;
}

.select-btn-down {
  position: absolute;
  bottom:.4rem;
  right: .6rem;
 transform: rotate(180deg)
}

.select-options-list {
  background-color: orange;

}

.select-options-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 250px;
}

.select-options-list.show {
  display: block;
}




.wrapper-select li{
  cursor: pointer;
}
.wrapper-select li:hover{
  background-color: green;
}


.select-elem:focus{
  outline: none;
  border: 4px solid green;
}


li .selected {
  background-color: purple!important;
}

li .prev-selected {
  background-color: red;
}