@import '_grid.scss';
@import '_select.scss';
@import '_home.scss';

*, *::after, *::before{
  box-sizing: border-box;
}

body{
  position:relative;
  margin: 0;
  height: 100%;
  background-color: hsl(0, 0%, 10%);
  font-family: 'Fredoka', sans-serif;
  padding:0 10%;
}

#app{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: absolute;
  margin: 0;
  top: 0;
  z-index: 11;
}



